@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../../node_modules/bootstrap/scss/bootstrap";
// npx sass --watch asset/scss:asset/css
// npm start
$bg-color-1: #f9f9f9;
$bg-color-2: #333333;

a {
  text-decoration: none;  /* bỏ gạch chân */
  color: inherit;         /* lấy màu của phần tử cha */
}
.breadcrumb-item.active {
  color: var(--bs-breadcrumb-item-active-color);
}